<html>
  <head>
    <title>DocumentFeatureSelection Web-api</title>
  </head>
<body>
    <h1>DocumentFeatureSelection Web-api</h1>
    <h1>Web api documentation</h1>

    <!-- run job api documentation -->
    <h2>run_job_api</h2>
    <p>API type: POST</p>
    <p>API end pint: run_job_api </p>
    <h4>What you can do</h4>
    <p>With this api, you can start document feature selection process.</p>
    <p>This api is job queue. So, you get job-id as return-value.</p>
    <p>With the job-id, you can ask status api and get_result_api.</p>

    <h4>Post data scheme</h4>
    <p>Json data model is</p>
    <pre><code>{"method": string, "input_data": {string: [[string]]}}</code></pre>
    <h5>Example</h5><pre><code>{
	"method": "soa",
	"input_data": {
		"label1": [
			["I", "aa", "aa", "aa", "aa", "aa"],
			["bb", "aa", "aa", "aa", "aa", "aa"],
			["I", "aa", "hero", "some", "ok", "aa"]
		],
		"label2": [
			["bb", "bb", "bb"],
			["bb", "bb", "bb"],
			["hero", "ok", "bb"],
			["hero", "cc", "bb"]
		]
            }
}
    </code></pre>
    <p>To test api with curl</p><pre><code>curl localhost:5000/run_job_api -H "Content-type: application/json" -X POST -d  '{"method": "soa", "input_data": {"label1": [["I", "aa", "aa", "aa", "aa", "aa"],["bb", "aa", "aa", "aa", "aa", "aa"], ["I", "aa", "hero", "some", "ok", "aa"]], "label2": [ ["bb", "bb", "bb"], ["bb", "bb", "bb"], ["hero", "ok", "bb"], ["hero", "cc", "bb"]]}}'</code></pre>

    <h4>Response</h4>
    <p>This api does not return computed value. You get only job-id of process.</p>

    <h5>Example</h5>
    <pre><code>{
  "job_id": "2017-02-25-11751126-52b0-4069-a68e-2f0cb7d9613d",
  "message": "your job is started",
  "task_id": "1cebe42a-235e-4cb1-a8dd-9c3105c47f63"
}</code></pre>

    <!-- status api documentation -->
    <h2>status api</h2>
    <p>API type: GET</p>
    <p>API end pint: status/[task-id] </p>
    <h4>What you can do</h4>
    <p>You're able to know status of task which you started.</p>

    <h4>Example</h4>
    <pre><code>status/1cebe42a-235e-4cb1-a8dd-9c3105c47f63</code></pre>

    <h4>Response</h4>
    {
  "method": string,
  "started_at": string,
  "state": string,
  "status": string"
}
    <h5>Example</h5>
    <pre><code>{
  "method": "soa",
  "started_at": "2017-02-25 12:16:43",
  "state": "SUCCESS",
  "status": "completed"
}</code></pre>

    <p>To test the api with curl</p><pre><code>curl localhost:5000/status/1cebe42a-235e-4cb1-a8dd-9c3105c47f63 -H "Content-type: application/json" -X GET </code></pre>


    <!-- get result api documentation -->
    <h2>get_result_api</h2>
    <p>API type: POST</p>
    <p>API end point: get_result_api</p>

    <h4>What you can do</h4>
    <p>This api gives you processed result</p>

    <h4>Post data scheme</h4>
    <pre><code>{"job_id": string}</code></pre>

    <h5>Example</h5>
    <pre><code>{"job_id" : "2017-02-25-3599a066-e590-4a0c-8b4d-4804f608a11d"}</code></pre>

    <h4>Response scheme</h4>
    <pre><code>
{"job_id": string,
"result": [
        {
        "label": string,
        "score": float,
        "word": string
        }]
}</code></pre>

    <h5>Example</h5>
    <pre><code>{
  "job_id": "2017-02-25-3599a066-e590-4a0c-8b4d-4804f608a11d",
  "result": [
    {
      "label": "label2",
      "score": 1.5849624872207642,
      "word": "bb"
    },
    {
      "label": "label2",
      "score": 0.5849624872207642,
      "word": "hero"
    },
    {
      "label": "label1",
      "score": 0.4150375425815582,
      "word": "ok"
    },
    {
      "label": "label2",
      "score": -0.41503751277923584,
      "word": "ok"
    },
    {
      "label": "label1",
      "score": -0.5849624872207642,
      "word": "hero"
    },
    {
      "label": "label1",
      "score": -1.5849624872207642,
      "word": "bb"
    }
  ]
}</code></pre>

To test with this api
<pre><code>curl localhost:5000/get_result_api -H "Content-type: application/json" -X POST -d '{"job_id": "2017-02-25-c7532513-0a0b-4496-b2a8-8b1094b7defc"}'</code></pre>

<h2>System information</h2>
<p>Package version: {{ version_info }}</p>



</body>